.seccion-carrito {
  display: none;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 4000;
}

.carrito {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icono-salir {
    font-size: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__productos-container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      height: 20px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__footer {
    background-color: $color-gris;
    width: 100%;
    height: 20%;
    background-color: $color-gris;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 15px;
    border-radius: 15px;

    .pago {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.producto {
  display: flex;
  width: 100%;
  height: 120px;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gris;
  box-shadow: 0 3px 3px rgba(87, 87, 87, 0.4);
  padding: 0 15px;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 70px;
    height: 70px;
  }

  &__cantidad-container {
    display: flex;
    gap: 10px;

    .sumar-items {
      background-color: $color-naranja;
    }

    .restar-items {
      background-color: rgb(116, 116, 116);
    }
  }

  &__btn-remove {
    color: $color-naranja;

  }
}

@media screen and (min-width: 1000px){
  .seccion-carrito {
    .carrito{
      width: 60%;
    }
  }
}